.black{
    color: #000;
    font-weight: bolder;
}
.sobre{
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 25px;
    margin: 5rem 0 0 5rem;
}
.sobre p{
    max-width: 80%;
    
}
.sobre ul li{
    list-style-type: none;
}
.titulo-sobre{
    color: rgb(84, 120, 238);
}

.div-formulario{    
    text-align: center;
    margin-top: 2rem;
}
label{
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
label::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #4dd481;
    margin-right: .5rem;
}
[data-validar]{
    padding: 1rem 1rem;
    background: linear-gradient(145deg,#4dd481,#00ff22);
    border: none;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  0 5px 0 #0ad425;/*button 3d*/
}
[data-validar]:hover,[data-limpar]:hover{
    opacity: .5;
    transform: scale(1.08);
}
[data-limpar]{
    padding: 1rem 1rem;
    background: linear-gradient(145deg,rgb(228, 98, 83),rgb(177, 30, 14));
    border: none;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  0 5px 0 rgb(177, 30, 14);/*button 3d*/
    margin-left: 2rem;
}
/*input cpf*/
#cpf{
    padding: 1rem;
    width: 50%;
    border: 3px solid rgb(84, 120, 238);
    box-sizing: border-box;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 5px;
}
#cpf.ativo{
    border: 3px solid #00ff22;
}
#cpf.inativo{
    border: 3px solid #e54;
}
/*.span*/
.span{
    color: #e54;
    display: none;
    margin-top: 1rem;
}
#cpf.inativo + .span{
    display: block;
}